PORT=4173
COLLECTOR_MODE=live
POLL_INTERVAL_MS=6000
HOT_POLL_INTERVAL_MS=3000
REPORT_FRESHNESS_HOURS=5
PROCESSING_CONCURRENCY=3
PARSER_TIMEOUT_MS=30000
WATCHLIST=
PYTHON_PATH=python3
NSE_ANNOUNCEMENTS_URL=https://www.nseindia.com/api/corporate-announcements?index=equities
NSE_REFERER_URL=https://www.nseindia.com/companies-listing/corporate-filings-announcements
BSE_ANNOUNCEMENTS_URL=https://api.bseindia.com/BseIndiaAPI/api/AnnGetData/w?strCat=-1&strPrevDate=&strScrip=&strSearch=P&strToDate=&strType=C
BSE_REFERER_URL=https://www.bseindia.com/corporates/ann.html
BSE_ATTACHMENT_ROOT=https://www.bseindia.com/xml-data/corpfiling/AttachLive
AI_PROVIDER=disabled
AI_API_KEY=
AI_MODEL=
AI_EXTRACTION_MODE=disabled
AI_MAX_PAGES=4
AI_MAX_CHARS_PER_PAGE=3600
AI_TIMEOUT_MS=18000
AI_MIN_LOCAL_CONFIDENCE=0.82
AI_CONCURRENCY=1
AI_RATE_LIMIT_COOLDOWN_MS=45000
AI_REQUIRE_SUCCESS=false
