PORT=4173
COLLECTOR_MODE=live
POLL_INTERVAL_MS=6000
HOT_POLL_INTERVAL_MS=3000
REPORT_FRESHNESS_HOURS=5
WATCHLIST=
PYTHON_PATH=python3
NSE_ANNOUNCEMENTS_URL=https://www.nseindia.com/api/corporate-announcements?index=equities
NSE_REFERER_URL=https://www.nseindia.com/companies-listing/corporate-filings-announcements
BSE_ANNOUNCEMENTS_URL=https://api.bseindia.com/BseIndiaAPI/api/AnnGetData/w?strCat=-1&strPrevDate=&strScrip=&strSearch=P&strToDate=&strType=C
BSE_REFERER_URL=https://www.bseindia.com/corporates/ann.html
BSE_ATTACHMENT_ROOT=https://www.bseindia.com/xml-data/corpfiling/AttachLive
